.navContainer {
  font-family: Arial;
  font-size: 14px;
  color: black;
  margin-top: 10px;
}

a:visited {
  color: blue;
}

a:link {
  color: black;
}

.navLeft {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}

.navLeft li {
  display: inline;
  padding: 20px;
}


.navRight {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

.navRight li {
  display: inline;
  padding: 20px;
}

main {
  height: 100%;
}

.searchContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding-top: 150px;
}

.searchBox {
  display: flex;
  justify-content: center;
}

.search {
  border-radius: 40px;
  border-color: lightgrey;
  height: 35px;
  width: 500px;
}

.searchButtons {
  display: inline-flex;
  justify-content: center;
  background: lightgrey;
  border: none;
  width: 180px;
  height: 40px;
  margin: 30px;
  font-family: arial;
  font-size: 16px;
}

.logo {
  display: flex;
  justify-content: center;
}


.footerRight {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;

}

.footerRight li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;

}

.footerLeft {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  float: left;

}

.footerLeft li {
  display: inline;
  padding-right: 20px;

}

footer {
  height: 50px;
  background-color: lightgrey;
  color: black;
  font-size: 14px;
  font-family: arial;
  margin-top: -50px;
  padding: 0;
  border-top: darkgray;
}

footer a {
  text-decoration: none;
}

body a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}